In [1]:
import pandas as pd
import numpy as np
import os

In [4]:
#how does the raw data look like
raw_data = pd.read_excel('1-08-2013.xlsx', header=[0,1,2])
# raw_data2 = raw_data.dropna()
raw_data.head(10)

                                                                   Production summary                                                                \
                                                                                                                                               ID #
                                                                                                                                 Unnamed: 0_level_2
0                                                NaN
1                                            13188-3
2                                                NaN
3                                                NaN
4                                                NaN
5                                                NaN
6                                                NaN
7                                            13191-1
8                                            13193-1
9                                            13195-1

                                                                          \
        Construction Order Quantity                              Shrin.%
  Unnamed: 1_level_2           F.F.  F.A         G.F. Unnamed: 5_level_2
0                NaN            Yds  NaN          Yds                NaN
1       30x30/110x62           5250  8.0  5706.521739               13.0
2                NaN            NaN  NaN          NaN                NaN
3                NaN            NaN  NaN          NaN                NaN
4                NaN            NaN  NaN          NaN                NaN
5                NaN            NaN  NaN          NaN                NaN
6                NaN            NaN  NaN          NaN                NaN
7       50x50/140x80           6750  8.0  7336.956522               12.0
8                NaN           3500  8.0  3804.347826               12.0
9                NaN           1250  8.0  1358.695652               12.0

                                                          ...         \
             B.L.(m)                L #  Rec.             ...  TOTAL
  Unnamed: 6_level_2 Unnamed: 7_level_2   B/L      B/L.1  ... Prodn.
0                NaN                NaN   mtr        Yds  ...    Yds
1        5997.824058               89.0  1750     1913.8  ...   1586
2                NaN               81.0   860    940.496  ...    763
3                NaN               89.0  1300    1421.68  ...   1160
4                NaN              101.0   850     929.56  ...    769
5                NaN              115.0  1270   1388.872  ...   1139
6                NaN                NaN  6030   6594.408  ...   5417
7        7623.857528               89.0  3000     3280.8  ...   2747
8        3953.111311              117.0  2828  3092.7008  ...   2596
9        1411.825468              108.0  2760   3018.336  ...   2562

                                                      Date:- 01. August-13  \
              Shrin.% Grey(Inspected)Production        Unnamed: 16_level_1
  Unnamed: 13_level_2                    Todays  Pre.                TOTAL
0                 NaN                      Del.  Del.                 Del.
1           17.128227                       NaN   NaN                  NaN
2           18.872595                       NaN   NaN                  NaN
3           18.406392                       NaN   NaN                  NaN
4           17.272688                       NaN   NaN                  NaN
5           17.991003                       NaN   NaN                  NaN
6           17.854643                       463  5164                 5627
7           16.270422                       NaN   NaN                  NaN
8           16.060422                       NaN   NaN                  NaN
9           15.118794                       NaN   NaN                  NaN

                                                                    \
  Unnamed: 17_level_1 Unnamed: 18_level_1             Shrin.%  B/F
                Rej.&               TOTAL Unnamed: 19_level_2  B/C
0               C.Pcs              Prodn.                 NaN  D/C
1                 NaN                 NaN                 NaN  B/F
2                 NaN                 NaN                 NaN  B/F
3                 NaN                 NaN                 NaN  B/F
4                 NaN                 NaN                 NaN  B/F
5                 NaN                 NaN                 NaN  B/F
6                  36                5663           14.124209  NaN
7                 NaN                 NaN                 NaN  B/F
8                 NaN                 NaN                 NaN  B/F
9                 NaN                 NaN                 NaN  B/F


              Remarks
  Unnamed: 21_level_2
0                 NaN
1                 NaN
2                 NaN
3                 NaN
4                 NaN
5                 NaN
6                 NaN
7                 NaN
8                 NaN
9                 NaN

[10 rows x 22 columns]

In [6]:
def raw_data_clean(data_path):
    data = pd.read_excel(data_path, header=[1,2,3])
    return data

In [7]:
def raw_data_combine(month, month_name):
    p = [f'{i}.{month}.13.xlsx' for i in range(1,31)]
    df2 = []
    for i in p:
        if i in os.listdir():
            d = raw_data_clean(i)
            df2.append(d)
            
        else:
            continue 
            
    df = pd.concat(df2)
    df['month'] = month_name
    return df

In [12]:
jan = raw_data_combine('01', 'January')

feb = raw_data_combine('02', 'February')

march = raw_data_combine('03', 'March')

april = raw_data_combine('04', 'April')

may = raw_data_combine('05', 'May')

june = raw_data_combine('06', 'June')

july = raw_data_combine('07', 'July')

sept = raw_data_combine('09', 'September')

In [26]:
# august
august_list = [f'{i}-08-2013.xlsx' for i in range(1,31)]
august = []
for i in august_list:
    if i in os.listdir():
        d = raw_data_clean(i)
        august.append(d)
        
    else:
        continue

In [27]:
august = pd.concat(august)
august['month'] = 'August'

In [28]:
#merging all month data
data = pd.concat([jan, feb, march,april, may, june, july, august, sept])

In [30]:
data.shape

(121148, 23)

In [31]:
#changign column names
data.columns = [data.columns[i][0] for i in range(data.columns.shape[0])]

In [32]:
data.head()

,ID #,Construction,Order Quantity,Order Quantity,Order Quantity,Shrin.%,B.L.(m),L #,Rec.,Rec.,...,Shrin.%,Grey(Inspected)Production,Grey(Inspected)Production,Grey(Inspected)Production,Grey(Inspected)Production,Grey(Inspected)Production,Shrin.%,B/F,Remarks,month
0,12207-8,40+40/2/40/110x80,31300.0,6.0,33297.87234,12.5,34797.651103,104.0,5260.0,5752.336,...,12.261732,NaN,NaN,NaN,NaN,NaN,NaN,B/F,NaN,January
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.0,5380.0,5883.568,...,64.120411,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,January
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103.0,2830.0,3094.888,...,24.132957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,January
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.0,5390.0,5894.504,...,14.734132,NaN,NaN,NaN,NaN,NaN,NaN,B/F,NaN,January
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,141.0,5350.0,5850.760,...,21.463195,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,January

In [33]:
data.columns

Index(['ID #', 'Construction', 'Order Quantity', 'Order Quantity',
       'Order Quantity', 'Shrin.%', 'B.L.(m)', 'L #', 'Rec.', 'Rec.', 'TODAYS',
       'Previous', 'TOTAL', 'Shrin.%', 'Grey(Inspected)Production',
       'Grey(Inspected)Production', 'Grey(Inspected)Production',
       'Grey(Inspected)Production', 'Grey(Inspected)Production', 'Shrin.%',
       'B/F', 'Remarks', 'month'],
      dtype='object')

In [34]:
#correcting the column names
data.columns = ['ID', 'Construction', 'Req_Finish_Fabrics', 'Fabric_Allowance',
       'Req_grey_fabric', 'assump_crimp%', 'Req_beam_length(yds)', 'Loom_no', 'Rec_BL_m', 'Rec_Beam_length(yds)', 'TODAYS_pdn',
       'Previous_pdn', 'Total_pdn_m/c', 'act_crimp%', 'Today_del', 'pre_del', 'Total_del',
       'Rej_and_cut_Piece', 'Total_pdn_per_order', 'waste%',
       'Beam_status', 'Remarks', 'Month']

In [35]:
#cleaning the data
def data_clean(data):
    data['ID'] = data['ID'].fillna(method='ffill')
    data['Construction']= data['Construction'].fillna(method='ffill')
    data['Req_Finish_Fabrics']= data['Req_Finish_Fabrics'].fillna(method='ffill')
    data['Fabric_Allowance'] = data['Fabric_Allowance'].fillna(method ='ffill')
    data['assump_crimp%'] = data['assump_crimp%'].fillna(method ='ffill')
    data['Req_grey_fabric'] = data['Req_Finish_Fabrics']*100/(100-data['Fabric_Allowance'])
    data['Req_beam_length(yds)']= data['Req_grey_fabric']*100/(100-data['assump_crimp%'])/1.0936    
    data['Rej_and_cut_Piece'] = data['Rej_and_cut_Piece'].fillna(0)
    data['Total_pdn_per_order'] = data['Total_pdn_per_order'].fillna(0)
    data['Rec_Beam_length(yds)'] = data['Rec_Beam_length(yds)'].fillna(method= 'ffill')
    data['act_crimp%'] = data['act_crimp%'].fillna('na')
    data = data[['ID','Month', 'Construction','Req_Finish_Fabrics', 'Fabric_Allowance','Rec_Beam_length(yds)', 
                 'assump_crimp%','act_crimp%', 'Previous_pdn','Req_grey_fabric','Req_beam_length(yds)', 'Total_pdn_m/c', 'Rej_and_cut_Piece', 'Total_pdn_per_order']]
    return data

In [36]:
data_1= data_clean(data)

In [37]:
data_1.head()

,ID,Month,Construction,Req_Finish_Fabrics,Fabric_Allowance,Rec_Beam_length(yds),assump_crimp%,act_crimp%,Previous_pdn,Req_grey_fabric,Req_beam_length(yds),Total_pdn_m/c,Rej_and_cut_Piece,Total_pdn_per_order
0,12207-8,January,40+40/2/40/110x80,31300.0,6.0,5752.336,12.5,12.261732,5047,33297.87234,34797.651103,5047.0,0.0,0.0
1,12207-8,January,40+40/2/40/110x80,31300.0,6.0,5883.568,12.5,64.120411,1952,33297.87234,34797.651103,2111.0,0.0,0.0
2,12207-8,January,40+40/2/40/110x80,31300.0,6.0,3094.888,12.5,24.132957,2207,33297.87234,34797.651103,2348.0,0.0,0.0
3,12207-8,January,40+40/2/40/110x80,31300.0,6.0,5894.504,12.5,14.734132,5026,33297.87234,34797.651103,5026.0,0.0,0.0
4,12207-8,January,40+40/2/40/110x80,31300.0,6.0,5850.760,12.5,21.463195,4391,33297.87234,34797.651103,4595.0,0.0,0.0

In [80]:
def construction_warp_count(x):
    try: 
        if '+' in x.split('/')[0]:
            return 'double'
        elif 'x' in x.split('/')[0]:
            return int(x.split('/')[0].split('x')[0])
        elif '80/2' in x.split('x')[0]:
            return 'double_80'
        elif '40c40' in x.split('x')[0]:
            return 40
        elif '40/40' in x.split('x')[0]:
            return 40
        elif '60/160/160' in x.split('x')[0]:
            return 60
        elif '40/2' in x.split('x')[0]:
            return 'double_40'
    except :
        'N/A'

In [95]:
def construction_weft_count(x): 
    try:
        return int(x.split('x')[1].split('/')[0])
    except Exception:
        if 'z40' in x.split('/')[1].split('x')[0]:
            return int(x.split('/')[1].split('x')[0].strip('z'))
        elif 'z40' in x.split('x')[1]:
            return 40
        elif '/110' in x.split('x')[1]:
            return 110
    except:
         return int(x.split('x')[1].split('/')[0])

In [82]:
#copying the data for safety
data_2 = data_1.copy()

In [42]:
data_2['warp_count']= data_2['Construction'].apply(lambda x: construction_warp_count(x))
data_2['weft_count']= data_2['Construction'].apply(lambda x: construction_weft_count(x))

In [44]:
def construction_to_epi(x):
    return x.split('/')[-1].split('x')[0]
def construction_to_ppi(x):
    try:
        return x.split('/')[-1].split('x')[1]
    except:
        return x.split('/')[-1]

In [ ]:
# data_1 = data_1.copy()

In [45]:
data_2['epi']= data_2['Construction'].apply(lambda x: construction_to_epi(x))
data_2['epi'] = data_2['epi'].replace('2', '140')
data_2['ppi']= data_2['Construction'].apply(lambda x: construction_to_ppi(x))
data_2['ppi'] = data_2['ppi'].replace('40100', '70')
data_2['ppi'] = data_2['ppi'].replace('40120', '80')
data_2['ppi'] = data_2['ppi'].replace('40140', '88')

In [46]:
data_2.head()

,ID,Month,Construction,Req_Finish_Fabrics,Fabric_Allowance,Rec_Beam_length(yds),assump_crimp%,act_crimp%,Previous_pdn,Req_grey_fabric,Req_beam_length(yds),Total_pdn_m/c,Rej_and_cut_Piece,Total_pdn_per_order,warp_count,weft_count,epi,ppi
0,12207-8,January,40+40/2/40/110x80,31300.0,6.0,5752.336,12.5,12.261732,5047,33297.87234,34797.651103,5047.0,0.0,0.0,double,80.0,110,80
1,12207-8,January,40+40/2/40/110x80,31300.0,6.0,5883.568,12.5,64.120411,1952,33297.87234,34797.651103,2111.0,0.0,0.0,double,80.0,110,80
2,12207-8,January,40+40/2/40/110x80,31300.0,6.0,3094.888,12.5,24.132957,2207,33297.87234,34797.651103,2348.0,0.0,0.0,double,80.0,110,80
3,12207-8,January,40+40/2/40/110x80,31300.0,6.0,5894.504,12.5,14.734132,5026,33297.87234,34797.651103,5026.0,0.0,0.0,double,80.0,110,80
4,12207-8,January,40+40/2/40/110x80,31300.0,6.0,5850.760,12.5,21.463195,4391,33297.87234,34797.651103,4595.0,0.0,0.0,double,80.0,110,80

In [47]:
data_2.shape

(121148, 18)

In [52]:
data_2.to_csv('weaving_dataset_full.csv', index=False)